.flashcard {
  display: flex;
  position: relative;
  justify-content: center;
  height: 25rem;
  width: 100%;
  align-items: center;
  background-color: white;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) 
  translateY(var(--translate-y, 0));
  transition: 100ms;
  cursor: pointer;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  border: black solid 1px;
}

.flashcard:hover {
  --translate-y: -2px;
  box-shadow: 0 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flashcard #flip {
  --rotate-y: 180deg;
  transform-style: preserve-3d;
}

.flashcard .front,
.flashcard .back {
  cursor: pointer;
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden; 
}

.flashcard .front {
  left: 0;
}
​
.flashcard .back {
  transform: rotateY(180deg);
}

.index{
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 100%;
  width: 100%;
  text-align: end;
}​
​
#function-btn {
  margin-top: .25rem;
  margin-left: .25rem;
}