body {
    background-color: #C8D0D2;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 1rem 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.form-group > label {
    color: #777;
    font-size: .75rem;
    margin-bottom: .25rem;
}

/* .btn {
    background-color: hsl(200, 100%, 50%);
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
} */

/* .btn:hover {
    background-color: hsl(200, 100%, 40%);
} */

